<div class="container mt-sm">
  <h2 class="title-lg">
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
<<<<<<< HEAD
    <%= render question %>
=======
    <%= render question %>
>>>>>>> aab2ff0d0be44cf9a6fa467667fcaba97d327a37
  </div>
<% end %>
</div>
