<% if user.errors.full_messages.any? %>
  <div class="mb message message-alert">
    <ul>
      <% user.errors.full_messages.each do |msg| %>
<<<<<<< HEAD
        <li><%= msg %></li>
=======
      <li><%= msg %></li>
>>>>>>> aab2ff0d0be44cf9a6fa467667fcaba97d327a37
      <% end %>
    </ul>
  </div>
<% end %>
