<% @questions.each do |question| %>
  <%= content_tag :div, class: "mt-sm container #{'transparent-title' if question.hidden?}" do %>
    <p class="mb text-sm text-gray">
      Вопрос <%= link_to "##{question.id}", question_path(question) %>
      для юзера <%= link_to "@#{question.user.nickname}", user_path(question.user) %>
    </p>
    <%= render question %>
  <% end %>
<% end %>
